:root{
	--vscode-font-family:system-ui, "Ubuntu", "Droid Sans", sans-serif; 
	--vscode-font-weight:normal; 
	--vscode-font-size:13px; 
	--vscode-editor-font-family:"Droid Sans Mono for Powerline","Metal", "monospace", monospace; 
	--vscode-editor-font-weight:normal; 
	--vscode-editor-font-size:14px; 
	--vscode-foreground:#738699; 
	--vscode-disabledForeground:rgba(204, 204, 204, 0.5); 
	--vscode-errorForeground:#f48771; 
	--vscode-descriptionForeground:rgba(115, 134, 153, 0.7); 
	--vscode-icon-foreground:#c5c5c5; 
	--vscode-focusBorder:rgba(0, 0, 0, 0); 
	--vscode-selection-background:rgba(64, 71, 87, 0.99); 
	--vscode-textSeparator-foreground:rgba(255, 255, 255, 0.18); 
	--vscode-textLink-foreground:#ffcc66; 
	--vscode-textLink-activeForeground:#ffcc66; 
	--vscode-textPreformat-foreground:#d9d7ce; 
	--vscode-textBlockQuote-background:#222d32; 
	--vscode-textBlockQuote-border:rgba(0, 122, 204, 0.5); 
	--vscode-textCodeBlock-background:rgba(10, 10, 10, 0.4); 
	--vscode-widget-shadow:rgba(17, 20, 26, 0.7); 
	--vscode-input-background:#222d32; 
	--vscode-input-foreground:#d9d7ce; 
	--vscode-input-border:rgba(115, 134, 153, 0.3); 
	--vscode-inputOption-activeBorder:rgba(115, 134, 153, 0.54); 
	--vscode-inputOption-hoverBackground:rgba(90, 93, 94, 0.5); 
	--vscode-inputOption-activeBackground:rgba(0, 0, 0, 0); 
	--vscode-inputOption-activeForeground:#ffffff; 
	--vscode-input-placeholderForeground:rgba(115, 134, 153, 0.54); 
	--vscode-inputValidation-infoBackground:#222d32; 
	--vscode-inputValidation-infoBorder:#5ccfe6; 
	--vscode-inputValidation-warningBackground:#222d32; 
	--vscode-inputValidation-warningBorder:#ffd580; 
	--vscode-inputValidation-errorBackground:#222d32; 
	--vscode-inputValidation-errorBorder:#ff3333; 
	--vscode-dropdown-background:#222d32; 
	--vscode-dropdown-foreground:#f0f0f0; 
	--vscode-dropdown-border:#222d32; 
	--vscode-checkbox-background:#222d32; 
	--vscode-checkbox-foreground:#f0f0f0; 
	--vscode-checkbox-border:#222d32; 
	--vscode-button-foreground:#ffffff; 
	--vscode-button-separator:rgba(255, 255, 255, 0.4); 
	--vscode-button-background:rgba(255, 204, 102, 0.67); 
	--vscode-button-hoverBackground:rgba(255, 204, 102, 0.73); 
	--vscode-button-secondaryForeground:#ffffff; 
	--vscode-button-secondaryBackground:#3a3d41; 
	--vscode-button-secondaryHoverBackground:#45494e; 
	--vscode-badge-background:#66737f; 
	--vscode-badge-foreground:#ffffff; 
	--vscode-scrollbar-shadow:rgba(17, 20, 26, 0.07); 
	--vscode-scrollbarSlider-background:rgba(255, 255, 255, 0.07); 
	--vscode-scrollbarSlider-hoverBackground:rgba(255, 255, 255, 0.13); 
	--vscode-scrollbarSlider-activeBackground:rgba(255, 255, 255, 0.13); 
	--vscode-progressBar-background:#ffcc66; 
	--vscode-editorError-foreground:#ff3333; 
	--vscode-editorWarning-foreground:#ffcc66; 
	--vscode-editorInfo-foreground:#3794ff; 
	--vscode-editorHint-foreground:rgba(238, 238, 238, 0.7); 
	--vscode-sash-hoverBorder:rgba(0, 0, 0, 0); 
	--vscode-editor-background:#29353b; 
	--vscode-editor-foreground:#d9d7ce; 
	--vscode-editorStickyScroll-background:#29353b; 
	--vscode-editorStickyScrollHover-background:#2a2d2e; 
	--vscode-editorWidget-background:#222d32; 
	--vscode-editorWidget-foreground:#738699; 
	--vscode-editorWidget-border:#454545; 
	--vscode-quickInput-background:#222d32; 
	--vscode-quickInput-foreground:#738699; 
	--vscode-quickInputTitle-background:rgba(255, 255, 255, 0.1); 
	--vscode-pickerGroup-foreground:#ffcc66; 
	--vscode-pickerGroup-border:#181a1f; 
	--vscode-keybindingLabel-background:rgba(128, 128, 128, 0.17); 
	--vscode-keybindingLabel-foreground:#cccccc; 
	--vscode-keybindingLabel-border:rgba(51, 51, 51, 0.6); 
	--vscode-keybindingLabel-bottomBorder:rgba(68, 68, 68, 0.6); 
	--vscode-editor-selectionBackground:rgba(64, 71, 87, 0.99); 
	--vscode-editor-inactiveSelectionBackground:rgba(64, 71, 87, 0.5); 
	--vscode-editor-selectionHighlightBackground:rgba(55, 61, 75, 0.59); 
	--vscode-editor-findMatchBackground:rgba(255, 204, 102, 0.2); 
	--vscode-editor-findMatchHighlightBackground:rgba(255, 204, 102, 0.2); 
	--vscode-editor-findRangeHighlightBackground:rgba(255, 204, 102, 0.2); 
	--vscode-searchEditor-findMatchBackground:rgba(255, 204, 102, 0.13); 
	--vscode-editor-hoverHighlightBackground:rgba(38, 79, 120, 0.25); 
	--vscode-editorHoverWidget-background:#222d32; 
	--vscode-editorHoverWidget-foreground:#738699; 
	--vscode-editorHoverWidget-border:#181a1f; 
	--vscode-editorHoverWidget-statusBarBackground:#29363c; 
	--vscode-editorLink-activeForeground:#ffcc66; 
	--vscode-editorInlayHint-foreground:#ffffff; 
	--vscode-editorInlayHint-background:rgba(102, 115, 127, 0.8); 
	--vscode-editorInlayHint-typeForeground:#ffffff; 
	--vscode-editorInlayHint-typeBackground:rgba(102, 115, 127, 0.8); 
	--vscode-editorInlayHint-parameterForeground:#ffffff; 
	--vscode-editorInlayHint-parameterBackground:rgba(102, 115, 127, 0.8); 
	--vscode-editorLightBulb-foreground:#ffcc00; 
	--vscode-editorLightBulbAutoFix-foreground:#75beff; 
	--vscode-diffEditor-insertedTextBackground:rgba(149, 230, 203, 0.27); 
	--vscode-diffEditor-removedTextBackground:rgba(240, 113, 120, 0.27); 
	--vscode-diffEditor-insertedLineBackground:rgba(155, 185, 85, 0.2); 
	--vscode-diffEditor-removedLineBackground:rgba(255, 0, 0, 0.2); 
	--vscode-diffEditor-diagonalFill:rgba(204, 204, 204, 0.2); 
	--vscode-list-focusBackground:#303540; 
	--vscode-list-focusForeground:#d9d7ce; 
	--vscode-list-focusOutline:rgba(0, 0, 0, 0); 
	--vscode-list-activeSelectionBackground:#4678cc; 
	--vscode-list-activeSelectionForeground:#d9d7ce; 
	--vscode-list-inactiveSelectionBackground:rgba(85, 107, 106, 0.32); 
	--vscode-list-inactiveSelectionForeground:#d9d7ce; 
	--vscode-list-hoverBackground:#303b44; 
	--vscode-list-hoverForeground:#d9d7ce; 
	--vscode-list-dropBackground:#062f4a; 
	--vscode-list-highlightForeground:#ffcc66; 
	--vscode-list-focusHighlightForeground:#ffcc66; 
	--vscode-list-invalidItemForeground:#b89500; 
	--vscode-list-errorForeground:#f88070; 
	--vscode-list-warningForeground:#cca700; 
	--vscode-listFilterWidget-background:#222d32; 
	--vscode-listFilterWidget-outline:rgba(0, 0, 0, 0); 
	--vscode-listFilterWidget-noMatchesOutline:#be1100; 
	--vscode-listFilterWidget-shadow:rgba(17, 20, 26, 0.7); 
	--vscode-list-filterMatchBackground:rgba(255, 204, 102, 0.2); 
	--vscode-tree-indentGuidesStroke:#585858; 
	--vscode-tree-tableColumnsBorder:rgba(204, 204, 204, 0.13); 
	--vscode-tree-tableOddRowsBackground:rgba(115, 134, 153, 0.04); 
	--vscode-list-deemphasizedForeground:#8c8c8c; 
	--vscode-quickInputList-focusForeground:#d9d7ce; 
	--vscode-quickInputList-focusBackground:#4678cc; 
	--vscode-menu-foreground:#f0f0f0; 
	--vscode-menu-background:#222d32; 
	--vscode-menu-selectionForeground:#d9d7ce; 
	--vscode-menu-selectionBackground:#4678cc; 
	--vscode-menu-separatorBackground:#606060; 
	--vscode-toolbar-hoverBackground:rgba(90, 93, 94, 0.31); 
	--vscode-toolbar-activeBackground:rgba(99, 102, 103, 0.31); 
	--vscode-editor-snippetTabstopHighlightBackground:rgba(124, 124, 124, 0.3); 
	--vscode-editor-snippetFinalTabstopHighlightBorder:#525252; 
	--vscode-breadcrumb-foreground:rgba(115, 134, 153, 0.8); 
	--vscode-breadcrumb-background:#29353b; 
	--vscode-breadcrumb-focusForeground:#8293a4; 
	--vscode-breadcrumb-activeSelectionForeground:#8293a4; 
	--vscode-breadcrumbPicker-background:#222d32; 
	--vscode-merge-currentHeaderBackground:rgba(64, 200, 174, 0.5); 
	--vscode-merge-currentContentBackground:rgba(64, 200, 174, 0.2); 
	--vscode-merge-incomingHeaderBackground:rgba(64, 166, 255, 0.5); 
	--vscode-merge-incomingContentBackground:rgba(64, 166, 255, 0.2); 
	--vscode-merge-commonHeaderBackground:rgba(96, 96, 96, 0.4); 
	--vscode-merge-commonContentBackground:rgba(96, 96, 96, 0.16); 
	--vscode-editorOverviewRuler-currentContentForeground:rgba(64, 200, 174, 0.5); 
	--vscode-editorOverviewRuler-incomingContentForeground:rgba(64, 166, 255, 0.5); 
	--vscode-editorOverviewRuler-commonContentForeground:rgba(96, 96, 96, 0.4); 
	--vscode-editorOverviewRuler-findMatchForeground:rgba(209, 134, 22, 0.49); 
	--vscode-editorOverviewRuler-selectionHighlightForeground:rgba(160, 160, 160, 0.8); 
	--vscode-minimap-findMatchHighlight:#d18616; 
	--vscode-minimap-selectionOccurrenceHighlight:#676767; 
	--vscode-minimap-selectionHighlight:#264f78; 
	--vscode-minimap-errorHighlight:rgba(255, 18, 18, 0.7); 
	--vscode-minimap-warningHighlight:#ffcc66; 
	--vscode-minimap-foregroundOpacity:#000000; 
	--vscode-minimapSlider-background:rgba(255, 255, 255, 0.03); 
	--vscode-minimapSlider-hoverBackground:rgba(255, 255, 255, 0.07); 
	--vscode-minimapSlider-activeBackground:rgba(255, 255, 255, 0.07); 
	--vscode-problemsErrorIcon-foreground:#ff3333; 
	--vscode-problemsWarningIcon-foreground:#ffcc66; 
	--vscode-problemsInfoIcon-foreground:#3794ff; 
	--vscode-charts-foreground:#738699; 
	--vscode-charts-lines:rgba(115, 134, 153, 0.5); 
	--vscode-charts-red:#ff3333; 
	--vscode-charts-blue:#3794ff; 
	--vscode-charts-yellow:#ffcc66; 
	--vscode-charts-orange:#d18616; 
	--vscode-charts-green:#89d185; 
	--vscode-charts-purple:#b180d7; 
	--vscode-editor-lineHighlightBackground:#303b44; 
	--vscode-editor-lineHighlightBorder:#282828; 
	--vscode-editor-rangeHighlightBackground:#303b44; 
	--vscode-editor-symbolHighlightBackground:rgba(255, 204, 102, 0.2); 
	--vscode-editorCursor-foreground:#ffcc66; 
	--vscode-editorWhitespace-foreground:#3d4752; 
	--vscode-editorIndentGuide-background:rgba(223, 233, 242, 0.04); 
	--vscode-editorIndentGuide-activeBackground:rgba(223, 233, 242, 0.04); 
	--vscode-editorLineNumber-foreground:#3d4752; 
	--vscode-editorActiveLineNumber-foreground:#c6c6c6; 
	--vscode-editorLineNumber-activeForeground:#c6c6c6; 
	--vscode-editorRuler-foreground:#181a1f; 
	--vscode-editorCodeLens-foreground:#999999; 
	--vscode-editorBracketMatch-background:rgba(0, 100, 0, 0.1); 
	--vscode-editorBracketMatch-border:rgba(255, 204, 102, 0.56); 
	--vscode-editorOverviewRuler-border:#181a1f; 
	--vscode-editorGutter-background:#29353b; 
	--vscode-editorUnnecessaryCode-opacity:rgba(0, 0, 0, 0.67); 
	--vscode-editorGhostText-foreground:rgba(255, 255, 255, 0.34); 
	--vscode-editorOverviewRuler-rangeHighlightForeground:rgba(0, 122, 204, 0.6); 
	--vscode-editorOverviewRuler-errorForeground:#ff3333; 
	--vscode-editorOverviewRuler-warningForeground:#ffcc66; 
	--vscode-editorOverviewRuler-infoForeground:#3794ff; 
	--vscode-editorBracketHighlight-foreground1:#ffd700; 
	--vscode-editorBracketHighlight-foreground2:#da70d6; 
	--vscode-editorBracketHighlight-foreground3:#179fff; 
	--vscode-editorBracketHighlight-foreground4:rgba(0, 0, 0, 0); 
	--vscode-editorBracketHighlight-foreground5:rgba(0, 0, 0, 0); 
	--vscode-editorBracketHighlight-foreground6:rgba(0, 0, 0, 0); 
	--vscode-editorBracketHighlight-unexpectedBracket\.foreground:rgba(255, 18, 18, 0.8); 
	--vscode-editorBracketPairGuide-background1:rgba(0, 0, 0, 0); 
	--vscode-editorBracketPairGuide-background2:rgba(0, 0, 0, 0); 
	--vscode-editorBracketPairGuide-background3:rgba(0, 0, 0, 0); 
	--vscode-editorBracketPairGuide-background4:rgba(0, 0, 0, 0); 
	--vscode-editorBracketPairGuide-background5:rgba(0, 0, 0, 0); 
	--vscode-editorBracketPairGuide-background6:rgba(0, 0, 0, 0); 
	--vscode-editorBracketPairGuide-activeBackground1:rgba(0, 0, 0, 0); 
	--vscode-editorBracketPairGuide-activeBackground2:rgba(0, 0, 0, 0); 
	--vscode-editorBracketPairGuide-activeBackground3:rgba(0, 0, 0, 0); 
	--vscode-editorBracketPairGuide-activeBackground4:rgba(0, 0, 0, 0); 
	--vscode-editorBracketPairGuide-activeBackground5:rgba(0, 0, 0, 0); 
	--vscode-editorBracketPairGuide-activeBackground6:rgba(0, 0, 0, 0); 
	--vscode-editorUnicodeHighlight-border:#bd9b03; 
	--vscode-editorUnicodeHighlight-background:rgba(189, 155, 3, 0.15); 
	--vscode-symbolIcon-arrayForeground:#738699; 
	--vscode-symbolIcon-booleanForeground:#738699; 
	--vscode-symbolIcon-classForeground:#ee9d28; 
	--vscode-symbolIcon-colorForeground:#738699; 
	--vscode-symbolIcon-constantForeground:#738699; 
	--vscode-symbolIcon-constructorForeground:#b180d7; 
	--vscode-symbolIcon-enumeratorForeground:#ee9d28; 
	--vscode-symbolIcon-enumeratorMemberForeground:#75beff; 
	--vscode-symbolIcon-eventForeground:#ee9d28; 
	--vscode-symbolIcon-fieldForeground:#75beff; 
	--vscode-symbolIcon-fileForeground:#738699; 
	--vscode-symbolIcon-folderForeground:#738699; 
	--vscode-symbolIcon-functionForeground:#b180d7; 
	--vscode-symbolIcon-interfaceForeground:#75beff; 
	--vscode-symbolIcon-keyForeground:#738699; 
	--vscode-symbolIcon-keywordForeground:#738699; 
	--vscode-symbolIcon-methodForeground:#b180d7; 
	--vscode-symbolIcon-moduleForeground:#738699; 
	--vscode-symbolIcon-namespaceForeground:#738699; 
	--vscode-symbolIcon-nullForeground:#738699; 
	--vscode-symbolIcon-numberForeground:#738699; 
	--vscode-symbolIcon-objectForeground:#738699; 
	--vscode-symbolIcon-operatorForeground:#738699; 
	--vscode-symbolIcon-packageForeground:#738699; 
	--vscode-symbolIcon-propertyForeground:#738699; 
	--vscode-symbolIcon-referenceForeground:#738699; 
	--vscode-symbolIcon-snippetForeground:#738699; 
	--vscode-symbolIcon-stringForeground:#738699; 
	--vscode-symbolIcon-structForeground:#738699; 
	--vscode-symbolIcon-textForeground:#738699; 
	--vscode-symbolIcon-typeParameterForeground:#738699; 
	--vscode-symbolIcon-unitForeground:#738699; 
	--vscode-symbolIcon-variableForeground:#75beff; 
	--vscode-editorHoverWidget-highlightForeground:#ffcc66; 
	--vscode-editorOverviewRuler-bracketMatchForeground:#a0a0a0; 
	--vscode-editor-foldBackground:rgba(64, 71, 87, 0.3); 
	--vscode-editorGutter-foldingControlForeground:#c5c5c5; 
	--vscode-editor-linkedEditingBackground:rgba(255, 0, 0, 0.3); 
	--vscode-editor-wordHighlightBackground:rgba(255, 204, 102, 0.2); 
	--vscode-editor-wordHighlightStrongBackground:rgba(255, 204, 102, 0.2); 
	--vscode-editorOverviewRuler-wordHighlightForeground:rgba(160, 160, 160, 0.8); 
	--vscode-editorOverviewRuler-wordHighlightStrongForeground:rgba(192, 160, 192, 0.8); 
	--vscode-peekViewTitle-background:#222d32; 
	--vscode-peekViewTitleLabel-foreground:#738699; 
	--vscode-peekViewTitleDescription-foreground:#738699; 
	--vscode-peekView-border:#181a1f; 
	--vscode-peekViewResult-background:#222d32; 
	--vscode-peekViewResult-lineForeground:#bbbbbb; 
	--vscode-peekViewResult-fileForeground:#738699; 
	--vscode-peekViewResult-selectionBackground:rgba(51, 153, 255, 0.2); 
	--vscode-peekViewResult-selectionForeground:#ffffff; 
	--vscode-peekViewEditor-background:#222d32; 
	--vscode-peekViewEditorGutter-background:#222d32; 
	--vscode-peekViewResult-matchHighlightBackground:rgba(255, 204, 102, 0.2); 
	--vscode-peekViewEditor-matchHighlightBackground:rgba(255, 204, 102, 0.2); 
	--vscode-editorMarkerNavigationError-background:#ff3333; 
	--vscode-editorMarkerNavigationError-headerBackground:rgba(255, 51, 51, 0.1); 
	--vscode-editorMarkerNavigationWarning-background:#ffcc66; 
	--vscode-editorMarkerNavigationWarning-headerBackground:rgba(255, 204, 102, 0.1); 
	--vscode-editorMarkerNavigationInfo-background:#3794ff; 
	--vscode-editorMarkerNavigationInfo-headerBackground:rgba(55, 148, 255, 0.1); 
	--vscode-editorMarkerNavigation-background:#222d32; 
	--vscode-editorSuggestWidget-background:#222d32; 
	--vscode-editorSuggestWidget-border:#181a1f; 
	--vscode-editorSuggestWidget-foreground:#d9d7ce; 
	--vscode-editorSuggestWidget-selectedForeground:#d9d7ce; 
	--vscode-editorSuggestWidget-selectedBackground:#303540; 
	--vscode-editorSuggestWidget-highlightForeground:#ffcc66; 
	--vscode-editorSuggestWidget-focusHighlightForeground:#ffcc66; 
	--vscode-editorSuggestWidgetStatus-foreground:rgba(217, 215, 206, 0.5); 
	--vscode-tab-activeBackground:#29353b; 
	--vscode-tab-unfocusedActiveBackground:#29353b; 
	--vscode-tab-inactiveBackground:#222d32; 
	--vscode-tab-unfocusedInactiveBackground:#222d32; 
	--vscode-tab-activeForeground:#d9d7ce; 
	--vscode-tab-inactiveForeground:#738699; 
	--vscode-tab-unfocusedActiveForeground:rgba(217, 215, 206, 0.67); 
	--vscode-tab-unfocusedInactiveForeground:#738699; 
	--vscode-tab-border:#181a1f; 
	--vscode-tab-lastPinnedBorder:#585858; 
	--vscode-tab-activeBorder:#ffcc66; 
	--vscode-tab-unfocusedActiveBorder:#ffcc66; 
	--vscode-tab-activeModifiedBorder:#3399cc; 
	--vscode-tab-inactiveModifiedBorder:rgba(51, 153, 204, 0.5); 
	--vscode-tab-unfocusedActiveModifiedBorder:rgba(51, 153, 204, 0.5); 
	--vscode-tab-unfocusedInactiveModifiedBorder:rgba(51, 153, 204, 0.25); 
	--vscode-editorPane-background:#29353b; 
	--vscode-editorGroupHeader-tabsBackground:#222d32; 
	--vscode-editorGroupHeader-tabsBorder:#181a1f; 
	--vscode-editorGroupHeader-noTabsBackground:#222d32; 
	--vscode-editorGroup-border:#181a1f; 
	--vscode-editorGroup-dropBackground:rgba(83, 89, 93, 0.5); 
	--vscode-editorGroup-dropIntoPromptForeground:#738699; 
	--vscode-editorGroup-dropIntoPromptBackground:#222d32; 
	--vscode-sideBySideEditor-horizontalBorder:#181a1f; 
	--vscode-sideBySideEditor-verticalBorder:#181a1f; 
	--vscode-panel-background:#222d32; 
	--vscode-panel-border:#181a1f; 
	--vscode-panelTitle-activeForeground:#d9d7ce; 
	--vscode-panelTitle-inactiveForeground:#738699; 
	--vscode-panelTitle-activeBorder:#ffcc66; 
	--vscode-panel-dropBorder:#d9d7ce; 
	--vscode-panelSection-dropBackground:rgba(83, 89, 93, 0.5); 
	--vscode-panelSectionHeader-background:rgba(128, 128, 128, 0.2); 
	--vscode-panelSection-border:#181a1f; 
	--vscode-banner-background:#4678cc; 
	--vscode-banner-foreground:#d9d7ce; 
	--vscode-banner-iconForeground:#3794ff; 
	--vscode-statusBar-foreground:#738699; 
	--vscode-statusBar-noFolderForeground:#738699; 
	--vscode-statusBar-background:#222d32; 
	--vscode-statusBar-noFolderBackground:#222d32; 
	--vscode-statusBar-border:#181a1f; 
	--vscode-statusBar-focusBorder:#738699; 
	--vscode-statusBar-noFolderBorder:#181a1f; 
	--vscode-statusBarItem-activeBackground:#181a1f; 
	--vscode-statusBarItem-focusBorder:#738699; 
	--vscode-statusBarItem-hoverBackground:rgba(255, 255, 255, 0.12); 
	--vscode-statusBarItem-compactHoverBackground:rgba(255, 255, 255, 0.2); 
	--vscode-statusBarItem-prominentForeground:#738699; 
	--vscode-statusBarItem-prominentBackground:#181a1f; 
	--vscode-statusBarItem-prominentHoverBackground:#303540; 
	--vscode-statusBarItem-errorBackground:#c72e0f; 
	--vscode-statusBarItem-errorForeground:#ffffff; 
	--vscode-statusBarItem-warningBackground:#d68f00; 
	--vscode-statusBarItem-warningForeground:#ffffff; 
	--vscode-activityBar-background:#222d32; 
	--vscode-activityBar-foreground:#738699; 
	--vscode-activityBar-inactiveForeground:rgba(115, 134, 153, 0.4); 
	--vscode-activityBar-border:#181a1f; 
	--vscode-activityBar-activeBorder:#738699; 
	--vscode-activityBar-dropBorder:#738699; 
	--vscode-activityBarBadge-background:#606f80; 
	--vscode-activityBarBadge-foreground:#ffffff; 
	--vscode-activityBarItem-settingsProfilesForeground:rgba(115, 134, 153, 0.4); 
	--vscode-activityBarItem-settingsProfilesHoverForeground:#738699; 
	--vscode-activityBarItem-settingsProfilesBackground:#33444b; 
	--vscode-statusBarItem-remoteBackground:#ffcc66; 
	--vscode-statusBarItem-remoteForeground:#222d32; 
	--vscode-extensionBadge-remoteBackground:#606f80; 
	--vscode-extensionBadge-remoteForeground:#ffffff; 
	--vscode-sideBar-background:#222d32; 
	--vscode-sideBar-border:#181a1f; 
	--vscode-sideBarTitle-foreground:#738699; 
	--vscode-sideBar-dropBackground:rgba(83, 89, 93, 0.5); 
	--vscode-sideBarSectionHeader-background:#303b44; 
	--vscode-sideBarSectionHeader-foreground:#738699; 
	--vscode-titleBar-activeForeground:#738699; 
	--vscode-titleBar-inactiveForeground:#738699; 
	--vscode-titleBar-activeBackground:#29353b; 
	--vscode-titleBar-inactiveBackground:#222d32; 
	--vscode-titleBar-border:#181a1f; 
	--vscode-menubar-selectionForeground:#738699; 
	--vscode-menubar-selectionBackground:rgba(90, 93, 94, 0.31); 
	--vscode-notifications-foreground:#738699; 
	--vscode-notifications-background:#222d32; 
	--vscode-notificationLink-foreground:#ffcc66; 
	--vscode-notificationCenterHeader-background:#2c3b41; 
	--vscode-notifications-border:#2c3b41; 
	--vscode-notificationsErrorIcon-foreground:#ff3333; 
	--vscode-notificationsWarningIcon-foreground:#ffcc66; 
	--vscode-notificationsInfoIcon-foreground:#3794ff; 
	--vscode-commandCenter-foreground:#738699; 
	--vscode-commandCenter-activeForeground:#738699; 
	--vscode-commandCenter-activeBackground:rgba(90, 93, 94, 0.31); 
	--vscode-commandCenter-border:#181a1f; 
	--vscode-editorCommentsWidget-resolvedBorder:rgba(204, 204, 204, 0.5); 
	--vscode-editorCommentsWidget-unresolvedBorder:#181a1f; 
	--vscode-editorCommentsWidget-rangeBackground:rgba(24, 26, 31, 0.1); 
	--vscode-editorCommentsWidget-rangeBorder:rgba(24, 26, 31, 0.4); 
	--vscode-editorCommentsWidget-rangeActiveBackground:rgba(24, 26, 31, 0.1); 
	--vscode-editorCommentsWidget-rangeActiveBorder:rgba(24, 26, 31, 0.4); 
	--vscode-editorGutter-commentRangeForeground:rgba(85, 107, 106, 0.32); 
	--vscode-debugToolBar-background:#222d32; 
	--vscode-debugIcon-startForeground:#89d185; 
	--vscode-editor-stackFrameHighlightBackground:rgba(255, 255, 0, 0.2); 
	--vscode-editor-focusedStackFrameHighlightBackground:rgba(122, 189, 122, 0.3); 
	--vscode-mergeEditor-change\.background:rgba(155, 185, 85, 0.2); 
	--vscode-mergeEditor-change\.word\.background:rgba(156, 204, 44, 0.2); 
	--vscode-mergeEditor-conflict\.unhandledUnfocused\.border:rgba(255, 166, 0, 0.48); 
	--vscode-mergeEditor-conflict\.unhandledFocused\.border:#ffa600; 
	--vscode-mergeEditor-conflict\.handledUnfocused\.border:rgba(134, 134, 134, 0.29); 
	--vscode-mergeEditor-conflict\.handledFocused\.border:rgba(193, 193, 193, 0.8); 
	--vscode-mergeEditor-conflict\.handled\.minimapOverViewRuler:rgba(173, 172, 168, 0.93); 
	--vscode-mergeEditor-conflict\.unhandled\.minimapOverViewRuler:#fcba03; 
	--vscode-mergeEditor-conflictingLines\.background:rgba(255, 234, 0, 0.28); 
	--vscode-settings-headerForeground:#e7e7e7; 
	--vscode-settings-modifiedItemIndicator:#0c7d9d; 
	--vscode-settings-headerBorder:#181a1f; 
	--vscode-settings-sashBorder:#181a1f; 
	--vscode-settings-dropdownBackground:#222d32; 
	--vscode-settings-dropdownForeground:#f0f0f0; 
	--vscode-settings-dropdownBorder:#222d32; 
	--vscode-settings-dropdownListBorder:#454545; 
	--vscode-settings-checkboxBackground:#222d32; 
	--vscode-settings-checkboxForeground:#f0f0f0; 
	--vscode-settings-checkboxBorder:#222d32; 
	--vscode-settings-textInputBackground:#222d32; 
	--vscode-settings-textInputForeground:#d9d7ce; 
	--vscode-settings-textInputBorder:rgba(115, 134, 153, 0.3); 
	--vscode-settings-numberInputBackground:#222d32; 
	--vscode-settings-numberInputForeground:#d9d7ce; 
	--vscode-settings-numberInputBorder:rgba(115, 134, 153, 0.3); 
	--vscode-settings-focusedRowBackground:rgba(48, 59, 68, 0.6); 
	--vscode-settings-rowHoverBackground:rgba(48, 59, 68, 0.3); 
	--vscode-settings-focusedRowBorder:rgba(255, 255, 255, 0.12); 
	--vscode-terminal-background:#222d32; 
	--vscode-terminal-foreground:#d9d7ce; 
	--vscode-terminal-selectionBackground:rgba(64, 71, 87, 0.99); 
	--vscode-terminal-inactiveSelectionBackground:rgba(64, 71, 87, 0.5); 
	--vscode-terminalCommandDecoration-defaultBackground:rgba(255, 255, 255, 0.25); 
	--vscode-terminalCommandDecoration-successBackground:#1b81a8; 
	--vscode-terminalCommandDecoration-errorBackground:#f14c4c; 
	--vscode-terminalOverviewRuler-cursorForeground:rgba(160, 160, 160, 0.8); 
	--vscode-terminal-border:#181a1f; 
	--vscode-terminal-findMatchBackground:rgba(255, 204, 102, 0.2); 
	--vscode-terminal-findMatchHighlightBackground:rgba(255, 204, 102, 0.2); 
	--vscode-terminalOverviewRuler-findMatchForeground:rgba(209, 134, 22, 0.49); 
	--vscode-terminal-dropBackground:rgba(83, 89, 93, 0.5); 
	--vscode-terminal-tab\.activeBorder:#ffcc66; 
	--vscode-testing-iconFailed:#f14c4c; 
	--vscode-testing-iconErrored:#f14c4c; 
	--vscode-testing-iconPassed:#73c991; 
	--vscode-testing-runAction:#73c991; 
	--vscode-testing-iconQueued:#cca700; 
	--vscode-testing-iconUnset:#848484; 
	--vscode-testing-iconSkipped:#848484; 
	--vscode-testing-peekBorder:#ff3333; 
	--vscode-testing-peekHeaderBackground:rgba(255, 51, 51, 0.1); 
	--vscode-testing-message\.error\.decorationForeground:#ff3333; 
	--vscode-testing-message\.error\.lineBackground:rgba(255, 0, 0, 0.2); 
	--vscode-testing-message\.info\.decorationForeground:rgba(217, 215, 206, 0.5); 
	--vscode-welcomePage-tileBackground:#222d32; 
	--vscode-welcomePage-tileHoverBackground:#29363c; 
	--vscode-welcomePage-tileShadow:rgba(17, 20, 26, 0.7); 
	--vscode-welcomePage-progress\.background:#222d32; 
	--vscode-welcomePage-progress\.foreground:#ffcc66; 
	--vscode-walkThrough-embeddedEditorBackground:#222d32; 
	--vscode-debugExceptionWidget-border:#181a1f; 
	--vscode-debugExceptionWidget-background:#222d32; 
	--vscode-ports-iconRunningProcessForeground:#ffcc66; 
	--vscode-statusBar-debuggingBackground:#222d32; 
	--vscode-statusBar-debuggingForeground:#738699; 
	--vscode-statusBar-debuggingBorder:#181a1f; 
	--vscode-editor-inlineValuesForeground:rgba(255, 255, 255, 0.5); 
	--vscode-editor-inlineValuesBackground:rgba(255, 200, 0, 0.2); 
	--vscode-editorGutter-modifiedBackground:#5ccfe6; 
	--vscode-editorGutter-addedBackground:#bae67e; 
	--vscode-editorGutter-deletedBackground:#ff3333; 
	--vscode-minimapGutter-modifiedBackground:#5ccfe6; 
	--vscode-minimapGutter-addedBackground:#bae67e; 
	--vscode-minimapGutter-deletedBackground:#ff3333; 
	--vscode-editorOverviewRuler-modifiedForeground:rgba(92, 207, 230, 0.6); 
	--vscode-editorOverviewRuler-addedForeground:rgba(186, 230, 126, 0.6); 
	--vscode-editorOverviewRuler-deletedForeground:rgba(255, 51, 51, 0.6); 
	--vscode-debugIcon-breakpointForeground:#e51400; 
	--vscode-debugIcon-breakpointDisabledForeground:#848484; 
	--vscode-debugIcon-breakpointUnverifiedForeground:#848484; 
	--vscode-debugIcon-breakpointCurrentStackframeForeground:#ffcc00; 
	--vscode-debugIcon-breakpointStackframeForeground:#89d185; 
	--vscode-notebook-cellBorderColor:rgba(85, 107, 106, 0.32); 
	--vscode-notebook-focusedEditorBorder:rgba(0, 0, 0, 0); 
	--vscode-notebookStatusSuccessIcon-foreground:#89d185; 
	--vscode-notebookStatusErrorIcon-foreground:#f48771; 
	--vscode-notebookStatusRunningIcon-foreground:#738699; 
	--vscode-notebook-cellToolbarSeparator:rgba(128, 128, 128, 0.35); 
	--vscode-notebook-selectedCellBackground:rgba(85, 107, 106, 0.32); 
	--vscode-notebook-selectedCellBorder:rgba(85, 107, 106, 0.32); 
	--vscode-notebook-focusedCellBorder:rgba(0, 0, 0, 0); 
	--vscode-notebook-inactiveFocusedCellBorder:rgba(85, 107, 106, 0.32); 
	--vscode-notebook-cellStatusBarItemHoverBackground:rgba(255, 255, 255, 0.15); 
	--vscode-notebook-cellInsertionIndicator:rgba(0, 0, 0, 0); 
	--vscode-notebookScrollbarSlider-background:rgba(255, 255, 255, 0.07); 
	--vscode-notebookScrollbarSlider-hoverBackground:rgba(255, 255, 255, 0.13); 
	--vscode-notebookScrollbarSlider-activeBackground:rgba(255, 255, 255, 0.13); 
	--vscode-notebook-symbolHighlightBackground:rgba(255, 255, 255, 0.04); 
	--vscode-notebook-cellEditorBackground:#222d32; 
	--vscode-notebook-editorBackground:#29353b; 
	--vscode-keybindingTable-headerBackground:rgba(115, 134, 153, 0.04); 
	--vscode-keybindingTable-rowsBackground:rgba(115, 134, 153, 0.04); 
	--vscode-scm-providerBorder:#454545; 
	--vscode-searchEditor-textInputBorder:rgba(115, 134, 153, 0.3); 
	--vscode-debugTokenExpression-name:#c586c0; 
	--vscode-debugTokenExpression-value:rgba(204, 204, 204, 0.6); 
	--vscode-debugTokenExpression-string:#ce9178; 
	--vscode-debugTokenExpression-boolean:#4e94ce; 
	--vscode-debugTokenExpression-number:#b5cea8; 
	--vscode-debugTokenExpression-error:#f48771; 
	--vscode-debugView-exceptionLabelForeground:#738699; 
	--vscode-debugView-exceptionLabelBackground:#6c2022; 
	--vscode-debugView-stateLabelForeground:#738699; 
	--vscode-debugView-stateLabelBackground:rgba(136, 136, 136, 0.27); 
	--vscode-debugView-valueChangedHighlight:#569cd6; 
	--vscode-debugConsole-infoForeground:#3794ff; 
	--vscode-debugConsole-warningForeground:#ffcc66; 
	--vscode-debugConsole-errorForeground:#f48771; 
	--vscode-debugConsole-sourceForeground:#738699; 
	--vscode-debugConsoleInputIcon-foreground:#738699; 
	--vscode-debugIcon-pauseForeground:#75beff; 
	--vscode-debugIcon-stopForeground:#f48771; 
	--vscode-debugIcon-disconnectForeground:#f48771; 
	--vscode-debugIcon-restartForeground:#89d185; 
	--vscode-debugIcon-stepOverForeground:#75beff; 
	--vscode-debugIcon-stepIntoForeground:#75beff; 
	--vscode-debugIcon-stepOutForeground:#75beff; 
	--vscode-debugIcon-continueForeground:#75beff; 
	--vscode-debugIcon-stepBackForeground:#75beff; 
	--vscode-extensionButton-prominentBackground:rgba(255, 204, 102, 0.67); 
	--vscode-extensionButton-prominentForeground:#ffffff; 
	--vscode-extensionButton-prominentHoverBackground:rgba(255, 204, 102, 0.73); 
	--vscode-extensionIcon-starForeground:#ff8e00; 
	--vscode-extensionIcon-verifiedForeground:#ffcc66; 
	--vscode-extensionIcon-preReleaseForeground:#1d9271; 
	--vscode-extensionIcon-sponsorForeground:#d758b3; 
	--vscode-terminal-ansiBlack:#181a1f; 
	--vscode-terminal-ansiRed:#f07178; 
	--vscode-terminal-ansiGreen:#bae67e; 
	--vscode-terminal-ansiYellow:#ffcc66; 
	--vscode-terminal-ansiBlue:#36a3d9; 
	--vscode-terminal-ansiMagenta:#d4bfff; 
	--vscode-terminal-ansiCyan:#95e6cb; 
	--vscode-terminal-ansiWhite:#c7c7c7; 
	--vscode-terminal-ansiBrightBlack:#686868; 
	--vscode-terminal-ansiBrightRed:#f07178; 
	--vscode-terminal-ansiBrightGreen:#cbe645; 
	--vscode-terminal-ansiBrightYellow:#ffdf80; 
	--vscode-terminal-ansiBrightBlue:#6871ff; 
	--vscode-terminal-ansiBrightMagenta:#ff77ff; 
	--vscode-terminal-ansiBrightCyan:#a6fde1; 
	--vscode-terminal-ansiBrightWhite:#ffffff; 
	--vscode-interactive-activeCodeBorder:#181a1f; 
	--vscode-interactive-inactiveCodeBorder:rgba(85, 107, 106, 0.32); 
	--vscode-gitDecoration-addedResourceForeground:#81b88b; 
	--vscode-gitDecoration-modifiedResourceForeground:#e2c08d; 
	--vscode-gitDecoration-deletedResourceForeground:#c74e39; 
	--vscode-gitDecoration-renamedResourceForeground:#73c991; 
	--vscode-gitDecoration-untrackedResourceForeground:#73c991; 
	--vscode-gitDecoration-ignoredResourceForeground:#8c8c8c; 
	--vscode-gitDecoration-stageModifiedResourceForeground:#e2c08d; 
	--vscode-gitDecoration-stageDeletedResourceForeground:#c74e39; 
	--vscode-gitDecoration-conflictingResourceForeground:#e4676b; 
	--vscode-gitDecoration-submoduleResourceForeground:#8db9e2; 
	--vscode-myextension-largeNumberBackground:rgba(255, 0, 0, 0.33);
	
}

		html {
			scrollbar-color: var(--vscode-scrollbarSlider-background) var(--vscode-editor-background);
		}
	
		body {
			background-color: transparent;
			color: var(--vscode-editor-foreground);
			font-family: var(--vscode-font-family);
			font-weight: var(--vscode-font-weight);
			font-size: var(--vscode-font-size);
			margin: 0;
			padding: 0 20px;
		}
	
		img, video {
			max-width: 100%;
			max-height: 100%;
		}
	
		a, a code {
			color: var(--vscode-textLink-foreground);
		}
	
		a:hover {
			color: var(--vscode-textLink-activeForeground);
		}
	
		a:focus,
		input:focus,
		select:focus,
		textarea:focus {
			outline: 1px solid -webkit-focus-ring-color;
			outline-offset: -1px;
		}
	
		code {
			color: var(--vscode-textPreformat-foreground);
		}
	
		blockquote {
			background: var(--vscode-textBlockQuote-background);
			border-color: var(--vscode-textBlockQuote-border);
		}
	
		kbd {
			color: var(--vscode-editor-foreground);
			border-radius: 3px;
			vertical-align: middle;
			padding: 1px 3px;
	
			background-color: hsla(0,0%,50%,.17);
			border: 1px solid rgba(71,71,71,.4);
			border-bottom-color: rgba(88,88,88,.4);
			box-shadow: inset 0 -1px 0 rgba(88,88,88,.4);
		}
		.vscode-light kbd {
			background-color: hsla(0,0%,87%,.5);
			border: 1px solid hsla(0,0%,80%,.7);
			border-bottom-color: hsla(0,0%,73%,.7);
			box-shadow: inset 0 -1px 0 hsla(0,0%,73%,.7);
		}
	
		::-webkit-scrollbar {
			width: 10px;
			height: 10px;
		}
	
		::-webkit-scrollbar-corner {
			background-color: var(--vscode-editor-background);
		}
	
		::-webkit-scrollbar-thumb {
			background-color: var(--vscode-scrollbarSlider-background);
		}
		::-webkit-scrollbar-thumb:hover {
			background-color: var(--vscode-scrollbarSlider-hoverBackground);
		}
		::-webkit-scrollbar-thumb:active {
			background-color: var(--vscode-scrollbarSlider-activeBackground);
		}
		::highlight(find-highlight) {
			background-color: var(--vscode-editor-findMatchHighlightBackground);
		}
		::highlight(current-find-highlight) {
			background-color: var(--vscode-editor-findMatchBackground);
		}
	
	